/* colors to use */

:root {
  --main-backrgound-color: #fff;
  --secondary-background-color: #F5F4FA;
  --hero-background-color: #2F303A;
  --accent-color: #2196F3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --break-line-color: #ECECEC;
  --logo-color: #000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6) ;
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--main-text-color);
}

.hidden {
  visibility: hidden;
}

/* logo */

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-black {
  color: var(--logo-color);
}

.logo-white {
  color: var(--main-backrgound-color)
}

/* navigation */

.header .contacts,
.header .navigation {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header .contacts {
  color: var(--secondary-text-color);
}

.contacts,
.navigation {
  text-decoration: none;
}

.contacts:hover,
.contacts:focus,
.navigation:hover,
.navigation:focus,
.contacts.map-link:hover,
.contacts.map-link:focus,
.address .contacts:hover,
.address .contacts:focus {
  color: var(--accent-color);
}

/* hero */

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-backrgound-color);
  background-color: var(--hero-background-color)
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-backrgound-color);
  background-color: var(--accent-color);
}

/* features */

.features-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* what do we do */

.headers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* our team */

.team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-background-color);
}
.team-header {
  font-weight: 500;
}

.team-text {
  color: var(--secondary-text-color);
}

/* footer */

.footer {
  background-color: var(--hero-background-color);
}

.address .contacts {
  color: var(--footer-contacts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .map-link {
  color: var(--main-backrgound-color);
}